@using Janela.Data
@using Janela.Data.Services.Classes
@inject Globals Globals

<div id="window" >
    <div id="glass" class="shadow-2xl flex flex-col justify-around gap-2 m-auto z-50">
        <div class="flex justify-between items-center">
            <div>
                <h1 class="text-3xl font-extralight w-full">@Weather.location.name, @Weather.location.region</h1>
                <p class="text-lg font-thin">@Weather.current.condition.text</p>
                <div class="flex justify-around items-center">
                    <p class="m-0">@Weather.forecast.forecastday[0].astro.sunrise</p>
                    <svg width="1rem" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" xml:space="preserve" fill="#000000"><g stroke-width="0"></g><g stroke-linecap="round" stroke-linejoin="round"></g><g> <style type="text/css"> .st0{fill:none;stroke:#000000;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;} .st1{fill:none;stroke:#000000;stroke-width:2;stroke-linejoin:round;stroke-miterlimit:10;} </style> <path class="st0" d="M27,22.5c-0.87-0.83-2.27-0.83-3.14,0l0,0c-0.87,0.83-2.27,0.83-3.14,0l0,0c-0.87-0.83-2.27-0.83-3.14,0l0,0 c-0.87,0.83-2.27,0.83-3.14,0l0,0c-0.87-0.83-2.27-0.83-3.14,0l0,0c-0.87,0.83-2.27,0.83-3.14,0l0,0c-0.87-0.83-2.27-0.83-3.14,0"></path> <path class="st0" d="M29,26.5c-1.03-0.83-2.69-0.83-3.71,0l0,0c-1.03,0.83-2.69,0.83-3.71,0l0,0c-1.03-0.83-2.69-0.83-3.71,0l0,0 c-1.03,0.83-2.69,0.83-3.71,0l0,0c-1.03-0.83-2.69-0.83-3.71,0l0,0c-1.03,0.83-2.69,0.83-3.71,0l0,0c-1.03-0.83-2.69-0.83-3.71,0"></path> <line class="st0" x1="16" y1="3" x2="16" y2="6"></line> <line class="st0" x1="6.81" y1="6.81" x2="8.93" y2="8.93"></line> <line class="st0" x1="3" y1="16" x2="6" y2="16"></line> <line class="st0" x1="29" y1="16" x2="26" y2="16"></line> <line class="st0" x1="25.19" y1="6.81" x2="23.07" y2="8.93"></line> <path class="st0" d="M22.32,19c0.43-0.91,0.68-1.92,0.68-3c0-3.87-3.13-7-7-7s-7,3.13-7,7c0,1.08,0.25,2.09,0.68,3"></path> <polyline class="st0" points="13,15 16,12 19,15 "></polyline> <line class="st0" x1="16" y1="19" x2="16" y2="12"></line> </g></svg>
                    <p> - </p>
                    <svg width="1rem" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" xml:space="preserve" fill="#000000"><g stroke-width="0"></g><g stroke-linecap="round" stroke-linejoin="round"></g><g> <style type="text/css"> .st0{fill:none;stroke:#000000;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;} .st1{fill:none;stroke:#000000;stroke-width:2;stroke-linejoin:round;stroke-miterlimit:10;} </style> <path class="st0" d="M27,22.5c-0.87-0.83-2.27-0.83-3.14,0l0,0c-0.87,0.83-2.27,0.83-3.14,0l0,0c-0.87-0.83-2.27-0.83-3.14,0l0,0 c-0.87,0.83-2.27,0.83-3.14,0l0,0c-0.87-0.83-2.27-0.83-3.14,0l0,0c-0.87,0.83-2.27,0.83-3.14,0l0,0c-0.87-0.83-2.27-0.83-3.14,0"></path> <path class="st0" d="M29,26.5c-1.03-0.83-2.69-0.83-3.71,0l0,0c-1.03,0.83-2.69,0.83-3.71,0l0,0c-1.03-0.83-2.69-0.83-3.71,0l0,0 c-1.03,0.83-2.69,0.83-3.71,0l0,0c-1.03-0.83-2.69-0.83-3.71,0l0,0c-1.03,0.83-2.69,0.83-3.71,0l0,0c-1.03-0.83-2.69-0.83-3.71,0"></path> <line class="st0" x1="16" y1="3" x2="16" y2="6"></line> <line class="st0" x1="6.81" y1="6.81" x2="8.93" y2="8.93"></line> <line class="st0" x1="3" y1="16" x2="6" y2="16"></line> <line class="st0" x1="29" y1="16" x2="26" y2="16"></line> <line class="st0" x1="25.19" y1="6.81" x2="23.07" y2="8.93"></line> <path class="st0" d="M22.32,19c0.43-0.91,0.68-1.92,0.68-3c0-3.87-3.13-7-7-7s-7,3.13-7,7c0,1.08,0.25,2.09,0.68,3"></path> <polyline class="st0" points="19,16 16,19 13,16 "></polyline> <line class="st0" x1="16" y1="12" x2="16" y2="19"></line> </g></svg>
                    <p class="m-0">@Weather.forecast.forecastday[0].astro.sunset</p>
                </div>
            </div>
            <img src="@Weather.current.condition.icon" alt="Current Weather Icon"/>
        </div>
        <div class="flex justify-between items-center w-full h-full">
            <h1 class="font-thin tracking-tighter" style="font-size: 100px">@(@Globals.UseF ? Weather.current.temp_f : Weather.current.temp_c)@Globals.ForC()</h1>
            <WindowIcons Weather="@Weather"/>
        </div>
    </div>
    <WeatherPicker />
</div>

@code
{
    [Parameter] public required string CurrentCondition { get; set; }
    [Parameter] public required WeatherResponse Weather { get; set; }
}
