@using Janela.Data
@using Janela.Data.Services.Classes
@inject Globals Globals

<div id="window" >
    <div id="glass" class="shadow-2xl flex flex-col justify-around gap-2 m-auto z-20">
        <div class="flex justify-between items-center">
            <div>
                <h1 class="text-3xl font-extralight w-full">@Weather.location.name, @Weather.location.region</h1>
                <p class="text-lg font-thin">@Weather.current.condition.text</p>
            </div>
            <img src="@Weather.current.condition.icon" alt="Current Weather Icon"/>
        </div>
        <div class="flex justify-between items-center w-full h-full">
            <h1 class="font-thin tracking-tighter" style="font-size: 100px">@(@Globals.UseF ? Weather.current.temp_f : Weather.current.temp_c)@Globals.ForC()</h1>
            <WindowIcons Weather="@Weather"/>
        </div>
    </div>
    <WeatherPicker />
</div>

@code
{
    [Parameter] public required string CurrentCondition { get; set; }
    [Parameter] public required WeatherResponse Weather { get; set; }
}
